@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/*cabeçalho*/

#cabecalho {
    display: grid;
    grid-template-columns: 90px 1fr;
    height: auto;
    overflow: hidden;
}

#tudoLateral {
    display: grid;
    height: 100vh;
    grid-template-rows: 90px 1fr;
    grid-column: 1/2;
    position: fixed;
    width: 90px;
    transition: 0.4s;
}

#btnMenu {
    display: flex;
    grid-row: 1/2;
    background-color: #000;
    align-items: center;
    justify-content: center;
    grid-column: 1;
}

#btnMenu>svg {
    fill: #fff;
}

#redes {
    background-color: #fff;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: 0.4s;

}

#redes>img {
    width: 30px;
    cursor: pointer;
}

nav {
    position: fixed;
    display: grid;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #fff;
    width: 270px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 90px 4fr 50px 1fr;
    margin-left: -270px;
    z-index: 999;
    box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

input {
    position: fixed;
    transform: scale(7);
    margin-top: 3.4vh;
    margin-left: 37px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;

}

input:checked~nav {
    margin-left: 0;
}

input:checked~#tudoLateral {
    margin-left: -50px;
    
}


#seta {
    background-color: #000;
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}


#cimaEscrita {
    background-color: #2916e0;
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {

    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    margin-bottom: 100px;
}

ul>li>a {
    font-size: 30px;
    font-weight: 600;
    color: #b2b2b2;
    transition: 0.3s;
}

.home {
    color: #2916e0;
}

ul>li>a:hover {
    color: #2916e0;
}

#redesLista {

    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#redesLista>img {
    width: 25px;
    cursor: pointer;
}

#rodapeLista {

    grid-row: 4/5;
    grid-column: 1/3;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 1vh;
}

#rodapeLista>p {
    color: #636363;
    font-size: 15px;
    line-height: 1.8;
    text-align: center;
}


/*Fim do cabeçalho*/

#imagesBlog{
grid-column: 2/3;
display: grid;
grid-template-rows: 250px 110px 96px 157px 94px 114px 250px;
grid-template-columns: repeat(5,1fr);
gap: 11px;
margin-bottom: 11px;
}

.imgesBlog{background-size: cover;
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 30px;}

#filtro{position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 0;
background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

#tagBlog{background-color: #fff;
color: #2916e0;
text-transform: uppercase;
font-weight: 600;
font-size: 12px;
display: flex;
width: 102px;
height: 26px;
border-radius: 5%;
align-items: center;
justify-content: center;
letter-spacing: 2px;
z-index: 1;
}

.textoImagesBlog{width: 100%;
z-index: 1;
}

.textoImagesBlog>p{font-size: 13px;
    color: #fff;
    margin-bottom: 10px;}
.textoImagesBlog>h4>a{font-size: 19px;
    line-height: 1.6;
font-weight: 600;}

#imageBlog1{background-image: url(6.jpg);
grid-column: 1/2;
grid-row: 1/4;}
#imageBlog2{background-image: url(8.jpg);
grid-column: 2/3;
grid-row: 1/2;}
#imageBlog3{background-image: url(12.jpg);
grid-column: 3/4;
grid-row: 1/4;}
#imageBlog4{background-image: url(16.jpg);
grid-column: 4/5;
grid-row: 1/3;}
#imageBlog5{background-image: url(10.jpg);
grid-column: 5/6;
grid-row: 1/4;}
#imageBlog6{background-image: url(5.jpg);
grid-column: 1/2;
grid-row: 4/6;}
#imageBlog7{background-image: url(1.jpg);
grid-column: 2/3;
grid-row: 2/5;}
#imageBlog8{background-image: url(3.jpg);
grid-column: 3/4;
grid-row: 4/7;}
#imageBlog9{background-image: url(15.jpg);
grid-column: 4/5;
grid-row: 3/5;}
#imageBlog10{background-image: url(2.jpg);
grid-column: 5/6;
grid-row: 4/6;}
#imageBlog11{background-image: url(11.jpg);
grid-column: 1/2;
grid-row: 6/8;}
#imageBlog12{background-image: url(9.jpg);
grid-column: 2/3;
grid-row: 5/8;}
#imageBlog13{background-image: url(14.jpg);
grid-column: 3/4;
grid-row: 7/8;}
#imageBlog14{background-image: url(13.jpg);
grid-column: 4/5;
grid-row: 5/8;}
#imageBlog15{background-image: url(7.jpg);
grid-column: 5/6;
grid-row: 6/8;}